h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
}

.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
 
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

.jumbotron {
  background-image: url(../images/rockOn_dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh-25px);
  display: flex;
  align-items: center;
justify-content: center;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

.content {
  padding: 50px;

}

.cardContainer {
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #ff4500;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #f00;
  border-color: #f00;
  cursor: pointer;
}

.row {
  display: flex;
  margin: 15px 0;
  align-items: center;
}

.sideAccent {
  background: #007bff;
  width: 15px;
  height: 100%;
  margin-right: 15px;
}

.imageContainer {
  padding: 30px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

.col-8 {
  padding: 10px;
}

/* Value prop styling */
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #ff4500;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #f00;
  border-color: #f00;
  cursor: pointer;
}

.emailContain {
  background: url(../images/emailBG.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
} 
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
